@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- SEO -->
    <title>Static</title>
    <meta name="description" content="It's a static website! :)">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Olly Parr">

    <!-- CSS links -->
    @Styles.Render("~/bundles/staticcss") <!-- Main, Owl Carousel, Scrollpane -->
    
    <!-- JQuery 1.11.1 -->
    @Scripts.Render("~/bundles/_layouthead") <!-- Jquery, Validate, Respond, html5shiv -->
</head>

<body>
    <div id="topbanner">
        <div class="onepcssgrid-1000">
            <div class="onerow">
                <div class="col2">
                    <div id="socialbox">
                        <a href="http://www.facebook.com/" target="_blank"><img src="~/Content/Static/images/Facebookicon.png" alt="Follow us on Facebook" /></a>
                        <a href="http://www.twitter.com/" target="_blank"><img src="~/Content/Static/images/Twittericon.png" alt="Follow us on Twitter" /></a>
                        <a href="http://www.youtube.com/" target="_blank"><img src="~/Content/Static/images/Youtubeicon.png" alt="Follow us on YouTube" /></a>
                    </div>
                </div>
                <div class="col10 last">
                    <div class="search_loginbox">
                        <div class="login_register">
                            @Html.Partial("LoginStatus")
                        </div>
                        <div class="search">
                            <form action="/search" method="GET">
                                <input type="text" class="siteSearch" placeholder="Search the website" name="q" />
                                <button type="submit" title="Search the website" value="Search"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- Row Closing -->
        </div> <!-- 1000 Closing -->
    </div>
    <header>
        <div class="onepcssgrid-1000">
            <div class="onerow">
                <div class="col12">
                    <div class="col3">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Static/images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="col9 last">
                        <div class="pnumberbox">
                            <span class="pnumberlabel">For Further Enquiries</span>
                            <span class="pnumber">0123 456 789</span>
                        </div>
                    </div>
                </div>
            </div> <!-- Row Closing -->
        </div> <!-- 1000 Closing -->
    </header>
    <nav id="navwrapper">
        <nav id="navwrapper2" class="my-sticky-element">
            <div class="onepcssgrid-1000">
                <div class="onerow">
                    <div class="col12">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                    <div class="onerow">
                                        <ul>
                                            <li><a href="~/home">Test A</a></li>
                                            <li><a href="~/home">Test B</a></li>
                                            <li><a href="~/home">Test C</a></li>
                                            <li><a href="~/home">Test D</a></li>
                                            <li><a href="~/home">Test E</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/static"><span>|</span>Static Site</a>
                                    <div class="onerow">
                                        <ul>
                                            <li><a href="~/home">Test A</a></li>
                                            <li><a href="~/home">Test B</a></li>
                                            <li><a href="~/home">Test C</a></li>
                                            <li><a href="~/home">Test D</a></li>
                                            <li><a href="~/home">Test E</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="~/home">Test F</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/blog"><span>|</span>Blog</a>
                                    <div class="onerow">
                                        <ul>
                                            <li>@Html.ActionLink("Test A", "Test A", "Home")</li>
                                            <li>@Html.ActionLink("Test B", "Test B", "Home")</li>
                                            <li>@Html.ActionLink("Test C", "Test C", "Home")</li>
                                            <li>@Html.ActionLink("Test D", "Test D", "Home")</li>
                                            <li>@Html.ActionLink("Test E", "Test E", "Home")</li>
                                        </ul>
                                        <ul>
                                            <li>@Html.ActionLink("Test F", "Test F", "Home")</li>
                                            <li>@Html.ActionLink("Test G", "Test G", "Home")</li>
                                            <li>@Html.ActionLink("Test H", "Test H", "Home")</li>
                                            <li>@Html.ActionLink("Test I", "Test I", "Home")</li>
                                            <li>@Html.ActionLink("Test J", "Test J", "Home")</li>
                                        </ul>
                                        <ul>
                                            <li>@Html.ActionLink("Test K", "Test K", "Home")</li>
                                            <li>@Html.ActionLink("Test L", "Test L", "Home")</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/register"><span>|</span>Register</a>
                                    <div class="onerow">
                                        <ul>
                                            <li>@Html.ActionLink("Test A", "Test A", "Home")</li>
                                            <li>@Html.ActionLink("Test B", "Test B", "Home")</li>
                                            <li>@Html.ActionLink("Test C", "Test C", "Home")</li>
                                            <li>@Html.ActionLink("Test D", "Test D", "Home")</li>
                                            <li>@Html.ActionLink("Test E", "Test E", "Home")</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/about-us"><span>|</span>About Us</a>
                                    <div class="onerow">
                                        <ul>
                                            <li><a href="~/sql-query">SQL Query</a></li>
                                            <li><a href="~/search">Search</a></li>
                                            <li><a href="~/cookies">Cookie Policy</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/contact"><span>|</span>Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div> <!-- Row Closing -->
            </div> <!-- 1000 Closing -->
        </nav>
    </nav>
    <div id="slider">
        <div class="onepcssgrid-1000">
            <div class="onerow">
                <div id="mainslider" class="owl-carousel">
                    <div class="item"><img src="~/Content/Static/images/slide1.png" alt="slide 1"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide2.png" alt="slide 2"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide3.png" alt="slide 3"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide4.png" alt="slide 4"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide5.png" alt="slide 5"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide6.png" alt="slide 6"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide7.png" alt="slide 7"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                    <div class="item"><img src="~/Content/Static/images/slide8.png" alt="slide 8"><span class="slidertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget accumsan turpis, a viverra massa. Lorem ipsum dolor sit amet.</span></div>
                </div>
                <div id="subslider" class="owl-carousel">
                    <div class="one item"><img src="~/Content/Static/images/slide1sync.png" alt="slide 1"></div>
                    <div class="two item"><img src="~/Content/Static/images/slide2sync.png" alt="slide 2"></div>
                    <div class="three item"><img src="~/Content/Static/images/slide3sync.png" alt="slide 3"></div>
                    <div class="four item"><img src="~/Content/Static/images/slide4sync.png" alt="slide 4"></div>
                    <div class="five item"><img src="~/Content/Static/images/slide5sync.png" alt="slide 5"></div>
                    <div class="six item"><img src="~/Content/Static/images/slide6sync.png" alt="slide 6"></div>
                    <div class="seventh item"><img src="~/Content/Static/images/slide7sync.png" alt="slide 7"></div>
                    <div class="eight item"><img src="~/Content/Static/images/slide8sync.png" alt="slide 8"></div>
                </div>
            </div> <!-- Row Closing -->
        </div> <!-- 1000 Closing -->
    </div>
    <section>
        <div class="onepcssgrid-1000">
            <div class="onerow">
                <div class="col6">
                    <div class="productone">
                        <h2>Product One</h2>
                        <p>Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus. Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</p>
                    </div>
                </div>
                <div class="col6 last">
                    <img src="~/Content/Static/images/product1.jpg" alt="Product1">
                </div>
            </div> <!-- Row Closing -->
            <div class="onerow">
                <div class="col4">
                    <img src="~/Content/Static/images/product2.jpg" alt="Product2">
                </div>
                <div class="col8 last">
                    <h2>Product Two</h2>
                    <p>Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus. Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</p>
                </div>
            </div> <!-- Row Closing -->
            <div class="onerow">
                <div class="col4">
                    <div class="product34img">
                        <img src="~/Content/Static/images/product3.jpg" alt="Product3">
                    </div>
                </div>
                <div class="col4">
                    <div class="product34">
                        <h2>Product Three and Four</h2>
                        <p>Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus. Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</p>
                    </div>
                </div>
                <div class="col4 last">
                    <div class="product34img">
                        <img src="~/Content/Static/images/product4.jpg" alt="Product4">
                    </div>
                </div>
            </div> <!-- Row Closing -->
            <div class="onerow">
                <div class="col3">
                    <div class="product56">
                        <h2>Product Five</h2>
                        <p>Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus. Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</p>
                    </div>
                </div>
                <div class="col3">
                    <div class="product56img">
                        <img src="~/Content/Static/images/product5.jpg" alt="product5">
                    </div>
                </div>
                <div class="col3">
                    <div class="product56">
                        <h2>Product Six</h2>
                        <p>Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus. Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</p>
                    </div>
                </div>
                <div class="col3 last">
                    <div class="product56img">
                        <img src="~/Content/Static/images/product6.jpg" alt="Product6">
                    </div>
                </div>
            </div> <!-- Row Closing -->
        </div> <!-- 1000 Closing -->
    </section>
    <div id="subwrapper1">
        <div id="productbox1">
            <span class="left">Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus.<br><br>Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. </span>
            <div id="productimagebox">
                <div id="productimage1">
                    <img src="~/Content/Static/images/product7.jpg" alt="Product 7" />
                </div>
            </div>
            <span class="right">Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus.<br><br>Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim.</span>
        </div>
    </div>
    <div id="subwrapper2">
        <div id="productbox2">
            <span class="left">Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus.<br><br>Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</span>
            <div id="productimage2">
                <img src="~/Content/Static/images/product8.jpg" alt="Product 8" />
            </div>
            <span class="right">Suspendisse rhoncus vitae risus nec lobortis. Mauris vehicula nisi ac vehicula dapibus.<br><br>Fusce non diam porta, tristique tortor posuere, tincidunt quam. Mauris ac est rhoncus, volutpat eros at, venenatis enim. Nullam pharetra tempor posuere.</span>
        </div>
    </div>
    <footer>
        <div id="backtotop">
            <div class="onepcssgrid-1000">
                <div class="onerow">
                    <div class="col12">
                        <span>Back to Top</span>
                    </div>
                </div> <!-- Row Closing -->
            </div> <!-- 1000 Closing -->
        </div>
        <div class="onepcssgrid-1000">
            <div class="onerow">
                <div class="col4">
                    <ul>
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/static">Static</a></li>
                        <li><a href="~/blog">Blog</a></li>
                        <li><a href="~/register">Register</a></li>
                        <li>@Html.ActionLink("Test E", "Test E", "Home")</li>
                    </ul>
                </div>
                <div class="col4">
                    <ul class="border">
                        <li><a href="~/about-us">About Us</a></li>
                        <li><a href="~/contact">Contact</a></li>
                        <li><a href="sql-query">SQL Query</a></li>
                        <li><a href="~/search">Search</a></li>
                        <li><a href="~/cookies">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="col4 last">
                    <ul class="border">
                        <li><img src="~/Content/Static/images/firefox.png" alt="Firefox" /><span class="browsersupport">Firefox 3.5 +</span></li>
                        <li><img src="~/Content/Static/images/chrome.png" alt="Chrome" /><span class="browsersupport">Chrome 35</span></li>
                        <li><img src="~/Content/Static/images/ie.png" alt="Internet Explorer" /><span class="browsersupport">Internet Explorer 7 +</span></li>
                        <li><img src="~/Content/Static/images/opera.png" alt="Opera" /><span class="browsersupport">Opera 12 +</span></li>
                        <li><img src="~/Content/Static/images/safari.png" alt="Safari" /><span class="browsersupport">Safari 5.12</span></li>
                    </ul>
                </div>
            </div> <!-- Row Closing -->
        </div> <!-- 1000 Closing -->
        <div class="onepcssgrid-1000">
            <div class="onerow">
                <div class="col12">
                    <div id="copyrightbanner">
                        <span>Copyright &copy; @DateTime.Now.Year - Oliver Parr</span>
                    </div>
                </div>
            </div> <!-- Row Closing -->
        </div> <!-- 1000 Closing -->
    </footer>

    <!-- JS links -->
    @Scripts.Render("~/bundles/staticjs")
    <script src="@Url.Content("~/Scripts/Static/waypoints.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Static/waypoints-sticky.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Static/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Static/jquery.scrollmagic.min.js")"></script>

    <!-- Slider Custom Scrollbar - ScrollPane -->
    <script>
        $(document).ready(function () {
            $('#subslider .owl-wrapper-outer').jScrollPane({
                verticalDragMinHeight: 150,
                verticalDragMaxHeight: 150,
                contentWidth: '0px' /* Disable horizontal bar */
            });
        });
    </script>

    <!-- Sticky Navigation -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.my-sticky-element').waypoint('sticky');
        });
    </script>

    <!-- Product Image and Text - ScrollMagic - IE 8 + -->
    <script>
        $(document).ready(function ($) {
            var controller = new ScrollMagic();
            // Product Image1
            var scene = new ScrollScene({ offset: 1350 }).setTween(new TweenMax.from('#productimage1', 1, { clip: "rect(0px 200px 400px 200px)" })).addTo(controller)
            // Product Text1 .left to 0 position
            var scene = new ScrollScene({ offset: 1350 }).setTween(new TweenMax.to('#productbox1 .left', 1, { left: '0px' })).addTo(controller)
            // Product Text .right (978 - (250+(19.5*2) = 289) = to 689 position from left)
            var scene = new ScrollScene({ offset: 1350 }).setTween(new TweenMax.to('#productbox1 .right', 1, { left: '689px' })).addTo(controller)
            // Product Image2 margin top 50px
            var scene = new ScrollScene({ offset: 1750 }).setTween(new TweenMax.to('#productimage2', 1, { top: '50px' })).addTo(controller)
            // Product Text2	.left .right to 0 position
            var scene = new ScrollScene({ offset: 1750 }).setTween(new TweenMax.to('#productbox2 .left, #productbox2 .right', 1, { bottom: '0px' })).addTo(controller)
        });
    </script>

    <!-- Back to Top -->
    <script>
        $("#backtotop span").click(function () {
            $("html, body").animate({ scrollTop: 0 }, 1000);
        });
    </script>
</body>
</html>